.todo-item {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px 0 20px 50px;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(159, 159, 159);

    &__radio {
        position: absolute;
        left: 10px;

    }

    &__text.finished {
        text-decoration: line-through;
        color: rgb(164, 163, 163);
    }
}